<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Product</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>PRODUCTS</li>
                <li><a href="">Members</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="">Orders</a></li>
                <li><a href="">Rates</a></li>
                <li><a href="">Ships</a></li>
                <li><a href="">Payments</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <a href="/product/add">Add New Product</a>
    <section>
        <table border="1">
            <thead>
                <th>Thumbnail</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Currency</th>
                <th>Description</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% products.forEach(item=>{ %>
                <tr>
                    <td><% if(item.thumbnails != undefined){
                        item.thumbnails.forEach(thumbnail=>{ %>
                            <img src="/images/product/<%= thumbnail %>" alt="" width="30px" height="30px">
                        <% })
                    }else{ %>
                        <p>Thumbnails</p>
                    <% } %>
                    </td>
                    <td><%= item.name %></td>
                    <td><%= item.price %></td>
                    <td><%= item.currency %></td>
                    <td><%= item.description %></td>
                    <td><a href="/product/edit/<%= item._id %>">Edit</a>||<a
                            href="/product/delete/<%= item._id %>">Delete</a></th>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </section>
    <section>
        <nav>
            <ul>
                <li>Pre</li>
                <% for(let i=0; i<pagination; i++){ %>
                <li><a href="/product/p=<%= (i+1) %>"><%= (i+1) %></a></li>
                <% } %>
                <li>Next</li>
            </ul>
        </nav>
    </section>
</body>

</html>